@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');



 .btn,
 header h1,
 .line .content h2,
 .line .content a,
 .line3 .half-img h3,
 .line4 h3,
 .person h4 {
    font-family: 'Fraunces', serif;
 }


 * { margin: 0; }

body {
    height: 100vh;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

    header {
        background-image: url('images/desktop/image-header.jpg');
        background-size: cover;

        height: 100%;
        width: 100%;
    }
        nav {
            background-color: #3dbeff;
            height: 50px;
            width: 100%;

            padding: 25px 30px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            position: fixed;
            top: 0;
            z-index: 17;
        }
            nav .menu {
                margin-right: 60px;
                width: 400px;
                font-size: 15px;

                display: flex;
                justify-content: space-between;
                align-items: center;
            }
                nav .menu a { text-decoration: none; color: #fff; }
                    .btn {
                        color: #000 !important;
                        background-color: #fff;
                        text-transform: uppercase;

                        padding: 15px 25px;
                        border-radius: 30px;
                        font-size: 13px;
                    }
            nav .ham-menu, .triangle, .ham-items { display: none; }

        header h1, header .arrow {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
            header h1 {
                top: 35%;
                color: #fff;
                font-size: 60px;
                text-transform: uppercase;
            }
            .arrow { top: 55%; }
            

    .line {
        display: flex;
        height: 70%;
    }
        .line .content, .line .half-img { width: 50vw; }
            .line .half-img { background-size: cover; }
            .line1 .half-img { background-image: url('images/desktop/image-transform.jpg'); }
            .line2 .half-img { background-image: url('images/desktop/image-stand-out.jpg'); }

            .line .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                padding: 0 10vw;
                width: 30%;
            }
                .line .content h2 {
                    color: hsl(212, 27%, 19%);
                    font-size: 35px;
                    font-weight: 900;

                    padding-right: 5px;
                }
                .line .content p {
                    color: hsl(232, 10%, 55%);
                    font-size: 15px;

                    margin: 30px 0;
                }
                .line .content a {
                    color: hsl(212, 27%, 19%);
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 13px;

                    margin-left: 8px;
                    padding: 0 5px;
                    width: fit-content;
                    height: 10px;
                }
                .colored-line {
                    height: 7px;
                    width: 105px;

                    margin-left: 6px;
                    border-radius: 5px;
                    z-index: -1;
                }
                    .colored-line1 { background-color: hsl(51, 100%, 84%); }
                    .colored-line2 { background-color: hsl(8, 76%, 84%); }


            
            .line3 { height: 80%; }
            .line3 .half-img {
                background-size: cover;
                text-align: center;
                padding: 400px 150px 0 150px;
            }

            .line3 .half-img h3 {
                font-size: 25px;
                font-weight: 900;
                margin-bottom: 15px;
            }
            .line3 .half-img p {
                font-size: 16px;
                margin-bottom: 15px;
            }
                .line3 .half-img1 {
                    background-image: url('images/desktop/image-graphic-design.jpg');
                    color: hsl(167, 40%, 24%);
                }
                .line3 .half-img2 {
                    background-image: url('images/desktop/image-photography.jpg');
                    color: hsl(198, 62%, 26%);
                }
                

            
            .line4 {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                height: 100vh;
                background-color: #fffbf8;
            }
                .line4 h3 {
                    text-transform: uppercase;
                    font-weight: 900;
                    font-size: 22px;

                    color: hsl(210, 4%, 67%);
                    margin-bottom: 70px;
                }
                .line4 .people {
                    display: flex;
                    justify-content: center;
                    margin: 0 100px;
                }
                    .line4 .people .person {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                        .person img {
                            border-radius: 50%;
                            width: 60px;
                        }
                        .person p {
                            margin: 40px 30px;
                            text-align: center;
                            font-size: 15px;
                            line-height: 1.5rem;
                            color: hsl(232, 10%, 55%);
                        }
                        .person h4 {
                            color: hsl(212, 27%, 19%);
                        }
                        .person h6 {
                            color: hsl(210, 4%, 67%);
                        }


            .line5 { height: 60%; }
                .line5 .oneforth-img1 { background-image: url('images/desktop/image-gallery-milkbottles.jpg'); }
                .line5 .oneforth-img2 { background-image: url('images/desktop/image-gallery-orange.jpg'); }
                .line5 .oneforth-img3 { background-image: url('images/desktop/image-gallery-cone.jpg'); }
                .line5 .oneforth-img4 { background-image: url('images/desktop/image-gallery-sugarcubes.jpg'); }


            
        footer {
            background-color: #90d4c5;
            padding-top: 70px;
            padding-bottom: 10px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            footer>img {
                margin-bottom: 30px;
                width: 130px;
            }
            footer .menu {
                margin-bottom: 60px;
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
                footer .menu a {
                    color: #388976a7;
                    text-decoration: none;
                    font-size: 15px;
                }
            footer .contact {
                width: 10%;
                margin-bottom: 80px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            
            .attribution { color: #3e937fa5; margin-top: 10px; }
                .attribution a { color: #2c6e5fc8; text-decoration: none; }


@media (max-width: 500px) {
    header {
        background-position: center;
        height: 90%;
    }
        nav {
            position: fixed;
            top: 0;
        }
            nav .menu { display: none; }
            nav .ham-menu {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                width: 40px;
                height: 50px;
                margin-right: 60px;
            }
                .menu-line {
                    background-color: #fffbf8;
                    width: 100%;
                    height: 3px;

                    border-radius: 20px;
                    margin: 4px 0;
                }

                .ham-menu.active .menu-line { background-color: #83E5FF; }
                    .ham-menu.active .menu-line1 { transform: translateY(6px) rotate(45deg); }
                    .ham-menu.active .menu-line2 { display: none; }
                    .ham-menu.active .menu-line3 { transform: translateY(-6px) rotate(-45deg); }

        .triangle,
        .ham-items {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 15;

            transform: translate(-50%);
            position: absolute;
        }
            .ham-items {
                background-color: #fffbf8;
                
                width: 70%;
                height: 40%;

                top: 18%;
                left: 50%;
            }
            .triangle {
                width: 0;
                height: 0;
                border-left: 25px solid transparent;
                border-right: 25px solid transparent;
                border-bottom: 50px solid #fffbf8;

                transform: rotate(26deg);                    
                top: 15%;
                left: 75.25%;
            }
                .ham-items option { margin: 15px 0; }
                    .ham-items a {
                        text-decoration: none;
                        color: hsl(232, 10%, 55%);
                    }
                        .ham-items .btn { background-color: #FBD501; }

                .ham-items a:hover { color: hsl(235, 8%, 31%); }
                .ham-items .btn:hover { background-color: #bea100; }


        header h1 {
            top: 20%;
            font-size: 45px;
            text-align: center;
        }
        .arrow { top: 40%; }
            

    .line { flex-direction: column; height: 80%; }
        .line .content, .line .half-img { width: 100vw; }
            .line .half-img { background-position: center; height: 100%; }

            .line1 { flex-direction: column-reverse; }

            .line .content {
                padding: 0;
                margin: 40px auto;
                text-align: center;
                width: 90%;
            }
                .line .content h2 { padding-right: 0; }
                .line .content a, .colored-line { align-self: center; }


            
            .line3 .half-img { padding: 400px 0 100px; }
            .line3 .half-img h3 { font-size: 35px; }
            .line3 .half-img p { font-size: 18px; }
                
                        
                
            .line4 { margin-top: 140vh; }
                .line4 h3 { margin-bottom: 0; }
                .line4 .people { flex-direction: column;  margin: 0 20px; }
                    .line4 .people .person { margin-top: 80px; }
                        .person img { width: 80px; }
            
                        


            .line5 {
                display: grid;
                grid-template-columns: 50vw 50vw;
                grid-template-rows: auto auto;
                height: 60%;
                margin-top: 50vh;
            }
                .line5 .oneforth-img {
                    width: auto;
                    background-position: center;
                    background-size: contain;
                }

            

        footer .menu { width: 75%; }
            footer .menu a { font-size: 18px; }
        footer .contact { width: 60%; }
            

        .attribution {
            text-align: center;
            padding: 10px 40px;
        } 
}

.hidden { display: none; }
